<div class="col-12 flex flex-column align-items-center">
    <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 pb-0">
        <div class="card-title">
            <span class="font-bold text-2xl" style="color: var(--primary-color);">Cadastro de Residente</span>
        </div>
        <form [formGroup]="form" (submit)="salvar()" class="flex flex-column card-body">
            <div class="flex flex-row flex-wrap">
                <div class="col-12 flex flex-column">
                    <label htmlFor="nome">Nome:</label>
                    <input type="text" pInputText name="nome" formControlName="nome" />
                    <div *ngIf="form.controls['nome']?.invalid && (form.controls['nome']?.dirty || form.controls['nome']?.touched)">
                        <small *ngIf="form.get('nome')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('nome')?.errors?.['maxlength']" class="p-error">Tamanho máximo 150 caracteres.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="cpf">Cpf:</label>
                    <input type="text" pInputText mask="000.000.000-00" pKeyFilter="int" name="cpf" formControlName="cpf"  [style]="{'width':'100%'}"/>
                    <div *ngIf="form.controls['cpf']?.invalid && (form.controls['cpf']?.dirty || form.controls['cpf']?.touched)">
                        <small *ngIf="form.get('cpf')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="idade">Idade:</label>
                    <input type="number" pInputText pKeyFilter="int" name="idade" formControlName="idade" />
                    <div *ngIf="form.controls['idade']?.invalid && (form.controls['idade']?.dirty || form.controls['idade']?.touched)">
                        <small *ngIf="form.get('idade')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('idade')?.errors?.['min']" class="p-error">Valor mínimo 1.</small>
                        <small *ngIf="form.get('idade')?.errors?.['max']" class="p-error">Valor máximo 140.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="telefone">Telefone:</label>
                    <input type="text" pInputText mask="(00) 0000-0000||(00) 00000-0000" pKeyFilter="int" name="telefone" formControlName="telefone" />
                    <div *ngIf="form.controls['telefone']?.invalid && (form.controls['telefone']?.dirty || form.controls['telefone']?.touched)">
                        <small *ngIf="form.get('telefone')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('telefone')?.errors?.['minlength']" class="p-error">Tamanho mínimo 10 caracteres.</small>
                        <small *ngIf="form.get('telefone')?.errors?.['maxlength']" class="p-error">Tamanho máximo 11 caracteres.</small>
                    </div>
                </div>
                <div class="col-4 flex flex-column">
                    <label htmlFor="dataHoraIngresso">DataHora Ingresso:</label>
                    <p-calendar type="text" name="dataHoraIngresso" [showTime]="true" formControlName="dataHoraIngresso" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"/>
                    <div *ngIf="form.controls['dataHoraIngresso']?.invalid && (form.controls['dataHoraIngresso']?.dirty || form.controls['dataHoraIngresso']?.touched)">
                        <small *ngIf="form.get('dataHoraIngresso')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                    </div>
                </div>
                <div class="col-4 flex flex-column">
                    <label htmlFor="dataHoraPrevisaoSaida">DataHora Previsão de Saída:</label>
                    <p-calendar type="text" name="dataHoraPrevisaoSaida" [showTime]="true" formControlName="dataHoraPrevisaoSaida" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"/>
                </div>
                <div class="col-12 flex flex-column">
                    <label htmlFor="email">E-mail:</label>
                    <input type="email" pInputText name="email" formControlName="email" />
                    <div *ngIf="form.controls['email']?.invalid && (form.controls['email']?.dirty || form.controls['email']?.touched)">
                        <small *ngIf="form.get('email')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('email')?.errors?.['maxlength']" class="p-error">Tamanho máximo 100 caracteres.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="tipoEstadia">Estadia:</label>
                    <p-dropdown [options]="tiposEstadia" name="tipoEstadia" formControlName="tipoEstadia" [style]="{'width':'100%'}"/>
                    <div *ngIf="form.controls['tipoEstadia']?.invalid && (form.controls['tipoEstadia']?.dirty || form.controls['tipoEstadia']?.touched)">
                        <small *ngIf="form.get('tipoEstadia')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="situacao">Situação:</label>
                    <p-dropdown [options]="opcoesSituacao" name="situacao" formControlName="situacao" [style]="{'width':'100%'}"/>
                    <div *ngIf="form.controls['situacao']?.invalid && (form.controls['situacao']?.dirty || form.controls['situacao']?.touched)">
                        <small *ngIf="form.get('situacao')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                    </div>
                </div>

                <div formGroupName="endereco">
                    <p>Endereço</p>
                    <div class="flex flex-row flex-wrap">
                        <div class="col-12 flex flex-column">
                            <label htmlFor="logradouro">Logradouro:</label>
                            <input type="text" pInputText name="logradouro" formControlName="logradouro" />
                            <div *ngIf="formEndereco.controls['logradouro']?.invalid && (formEndereco.controls['logradouro']?.dirty || formEndereco.controls['logradouro']?.touched)">
                                <small *ngIf="formEndereco.get('logradouro')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                                <small *ngIf="formEndereco.get('logradouro')?.errors?.['maxlength']" class="p-error">Tamanho máximo 150 caracteres.</small>
                            </div>
                        </div>
                        <div class="col-12 flex flex-column">
                            <label htmlFor="bairro">Bairro:</label>
                            <input type="text" pInputText name="bairro" formControlName="bairro" />
                            <div *ngIf="formEndereco.controls['bairro']?.invalid && (formEndereco.controls['bairro']?.dirty || formEndereco.controls['bairro']?.touched)">
                                <small *ngIf="formEndereco.get('bairro')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                                <small *ngIf="formEndereco.get('bairro')?.errors?.['maxlength']" class="p-error">Tamanho máximo 100 caracteres.</small>
                            </div>
                        </div>
                        <div class="col-12 flex flex-column">
                            <label htmlFor="municipio">Município:</label>
                            <input type="text" pInputText name="municipio" formControlName="municipio" />
                            <div *ngIf="formEndereco.controls['municipio']?.invalid && (formEndereco.controls['municipio']?.dirty || formEndereco.controls['municipio']?.touched)">
                                <small *ngIf="formEndereco.get('municipio')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                                <small *ngIf="formEndereco.get('municipio')?.errors?.['maxlength']" class="p-error">Tamanho máximo 150 caracteres.</small>
                            </div>
                        </div>
                        <div class="col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12 flex flex-column">
                            <label htmlFor="numero">Número:</label>
                            <input type="text" pInputText name="numero" formControlName="numero" />
                            <div *ngIf="formEndereco.controls['numero']?.invalid && (formEndereco.controls['numero']?.dirty || formEndereco.controls['numero']?.touched)">
                                <small *ngIf="formEndereco.get('numero')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                                <small *ngIf="formEndereco.get('numero')?.errors?.['maxlength']" class="p-error">Tamanho máximo 50 caracteres.</small>
                            </div>
                        </div>
                        <div class="col-12 xl:col-6 lg:col-6 md:col-6 sm:col-12 flex flex-column">
                            <span htmlFor="cep">Cep:</span>
                            <p-inputMask mask="99999-999" [unmask]="true" pKeyFilter="int" name="cep" formControlName="cep" [style]="{'width':'100%'}"/>
                            <div *ngIf="formEndereco.controls['cep']?.invalid && (formEndereco.controls['cep']?.dirty || formEndereco.controls['cep']?.touched)">
                                <small *ngIf="formEndereco.get('cep')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                                <small *ngIf="formEndereco.get('cep')?.errors?.['minlength']" class="p-error">Tamanho mínimo 8 caracteres.</small>
                                <small *ngIf="formEndereco.get('cep')?.errors?.['maxlength']" class="p-error">Tamanho máximo 8 caracteres.</small>
                            </div>
                        </div>
                        <div class="col-12 flex flex-column">
                            <label htmlFor="estado">Estado:</label>
                            <p-dropdown [options]="opcoesEstados" name="estado" formControlName="estado" [filter]="true" [style]="{'width':'100%'}"/>
                            <div *ngIf="formEndereco.controls['estado']?.invalid && (formEndereco.controls['estado']?.dirty || formEndereco.controls['estado']?.touched)">
                                <small *ngIf="formEndereco.get('estado')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                            </div>
                        </div>
                        <div class="col-12 flex flex-column">
                            <label htmlFor="pais">País:</label>
                            <p-dropdown [options]="opcoesPaises" name="pais" formControlName="pais" [filter]="true" [style]="{'width':'100%'}"/>
                            <div *ngIf="formEndereco.controls['pais']?.invalid && (formEndereco.controls['pais']?.dirty || formEndereco.controls['pais']?.touched)">
                                <small *ngIf="formEndereco.get('pais')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 pt-0">
        <div class="card-footer col-12 flex align-items-center justify-content-between">
            <p-button (click)="voltar()" pTooltip="Voltar" tooltipPosition="top" icon="pi pi-arrow-left"
                [style]="{'float': 'left'}"
                styleClass="p-button-rounded p-button-info p-button-text p-button-lg"></p-button>
                <div class="flex flex-row justify-content-end gap-2">
                    <button pButton class="p-button p-button-primary" (click)="salvar()">Salvar</button>
                    <button pButton class="p-button p-button-secondary" (click)="limpar()">Limpar</button>
                </div>
        </div>
    </div>
</div>