<div class="col-12 flex flex-column align-items-center">
    <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10">
        <p>Cadastro de Consulta</p>
        <form [formGroup]="form" (submit)="salvar()" class="flex flex-column">
            <div class="flex flex-row flex-wrap">
                <div class="col-12 flex flex-column">
                    <label htmlFor="descricao">Descrição:</label>
                    <input type="text" pInputText name="descricao" formControlName="descricao" />
                    <div *ngIf="form.controls['descricao']?.invalid && (form.controls['descricao']?.dirty || form.controls['descricao']?.touched)">
                        <small *ngIf="form.get('descricao')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('descricao')?.errors?.['maxlength']" class="p-error">Tamanho máximo 255 caracteres.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-8 lg:col-8 md:col-8 sm:col-12 flex flex-column">
                    <label htmlFor="local">Local:</label>
                    <input type="text" pInputText name="local" formControlName="local" />
                    <div *ngIf="form.controls['local']?.invalid && (form.controls['local']?.dirty || form.controls['local']?.touched)">
                        <small *ngIf="form.get('local')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('local')?.errors?.['maxlength']" class="p-error">Tamanho máximo 100 caracteres.</small>
                    </div>
                </div>
                <div class="col-4 xl:col-4 lg:col-4 md:col-4 sm:col-4 flex flex-column">
                    <label htmlFor="dataHora">DataHora:</label>
                    <p-calendar type="text" [showTime]="true" name="dataHora" formControlName="dataHora" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"/>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="especialidade">Especialidade:</label>
                    <p-dropdown [options]="opcoesEspecialidade" name="especialidade" formControlName="especialidade" [filter]="true" [style]="{'width':'100%'}"/>
                    <div *ngIf="form.controls['especialidade']?.invalid && (form.controls['especialidade']?.dirty || form.controls['especialidade']?.touched)">
                        <small *ngIf="form.get('especialidade')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="profissional">Profissional:</label>
                    <p-dropdown [options]="opcoesProfissional" name="profissional" formControlName="profissional" [filter]="true" [style]="{'width':'100%'}"/>
                    <div *ngIf="form.controls['profissional']?.invalid && (form.controls['profissional']?.dirty || form.controls['profissional']?.touched)">
                        <small *ngIf="form.get('profissional')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="residente">Residente:</label>
                    <p-dropdown [options]="opcoesResidente" name="residente" formControlName="residente" [filter]="true" [style]="{'width':'100%'}"/>
                    <div *ngIf="form.controls['residente']?.invalid && (form.controls['residente']?.dirty || form.controls['residente']?.touched)">
                        <small *ngIf="form.get('residente')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12 flex flex-column">
                    <label htmlFor="prescricao">Prescrição:</label>
                    <textarea rows="5" cols="30" pInputTextarea name="prescricao" formControlName="prescricao"></textarea>
                    <div *ngIf="form.controls['prescricao']?.invalid && (form.controls['prescricao']?.dirty || form.controls['prescricao']?.touched)">
                        <small *ngIf="form.get('prescricao')?.errors?.['maxlength']" class="p-error">Tamanho máximo 255 caracteres.</small>
                    </div>
                </div>
            </div>
            <br>
            <div class="flex flex-row justify-content-end gap-2">
                <button pButton class="p-button p-button-primary" type="submit">Salvar</button>
                <button pButton class="p-button p-button-secondary">Limpar</button>
            </div>
        </form>
    </div>
    <div class="col-12  xl:col-10 lg:col-10 md:col-10 sm:col-10 flex align-items-start">
        <p-button (click)="voltar()" pTooltip="Voltar" tooltipPosition="top" icon="pi pi-arrow-left"
            [style]="{'float': 'left'}"
            styleClass="p-button-rounded p-button-info p-button-text p-button-lg"></p-button>
    </div>
    <p-toast></p-toast>
</div>