<div class="col-12 flex flex-column align-items-center">
  <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10">
    <p class="font-bold text-2xl" style="color: var(--primary-color);">Cadastro de Especialidade</p>
    <form [formGroup]="form" (submit)="salvar()" class="flex flex-column">
      <label htmlFor="nome">Nome:</label>
      <input type="text" pInputText name="nome" id="txt_nome" formControlName="nome" />
      <div *ngIf="form.controls['nome']?.invalid && (form.controls['nome']?.dirty || form.controls['nome']?.touched)">
        <small *ngIf="form.get('nome')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
        <small *ngIf="form.get('nome')?.errors?.['maxlength']" class="p-error">Tamanho máximo 100 caracteres.</small>
      </div>
      <br>
      <div class="flex flex-row justify-content-end gap-2">
        <button pButton class="p-button p-button-primary" type="submit">Salvar</button>
        <button pButton class="p-button p-button-secondary">Limpar</button>
      </div>
    </form>
  </div>
  <div class="col-12  xl:col-10 lg:col-10 md:col-10 sm:col-10 flex align-items-start">
    <p-button (click)="voltar()" pTooltip="Voltar" tooltipPosition="top" icon="pi pi-arrow-left" [style]="{'float': 'left'}" styleClass="p-button-rounded p-button-info p-button-text p-button-lg"></p-button>
  </div>
  <p-toast></p-toast>
</div>