<div class="col-12 flex flex-column align-items-center">
  <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 pb-0">
    <div class="card-title">
        <span class="font-bold text-2xl" style="color: var(--primary-color);">Cadastro de Especialidade</span>
    </div>
    <form [formGroup]="form" (submit)="salvar()" class="flex flex-column card-body">
      <label htmlFor="nome">Nome: <span class="text-red-500">*</span></label>
      <input type="text" pInputText name="nome" id="txt_nome" formControlName="nome" />
      <div *ngIf="form.controls['nome']?.invalid && (form.controls['nome']?.dirty || form.controls['nome']?.touched)">
        <small *ngIf="form.get('nome')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
        <small *ngIf="form.get('nome')?.errors?.['maxlength']" class="p-error">Tamanho máximo 100 caracteres.</small>
      </div>
    </form>
</div>
<div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 pt-0">
    <div class="card-footer col-12 flex align-items-center justify-content-between">
        <p-button (click)="voltar()" pTooltip="Voltar" tooltipPosition="top" icon="pi pi-arrow-left"
            [style]="{'float': 'left'}" aria-label="Voltar"
            [rounded]="true" [text]="true" severity="info" size="large"></p-button>
            <div class="flex flex-row justify-content-end gap-2">
              <p-button [outlined]="true" size="small" (click)="salvar()" aria-label="Salvar"><span class="px-2 text-base">Salvar</span></p-button>
              <p-button [outlined]="true" size="small" severity="secondary" (click)="limpar()" aria-label="Limpar"><span class="px-2 text-base">Limpar</span></p-button>
            </div>
    </div>
</div>
</div>