<div class="col-12 flex flex-column align-items-center">
    <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 pb-0">
        <div class="card-title">
            <span class="font-bold text-2xl" style="color: var(--primary-color);">Edição de Atividade de Medicamento de Residente</span>
        </div>
        <form [formGroup]="form" (submit)="salvar()" class="flex flex-column card-body">
            <div class="flex flex-row flex-wrap">
                <div class="col-12 flex flex-column">
                    <label htmlFor="descricao">Descrição:</label>
                    <input type="text" pInputText name="descricao" formControlName="descricao" />
                </div>                
                <div class="col-4 xl:col-4 lg:col-4 md:col-4 sm:col-4 flex flex-column">
                    <label htmlFor="dataHora">Data e hora:</label>
                    <p-calendar type="text" [showTime]="true" name="dataHora" formControlName="dataHora" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"/>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="situacao">Situação:</label>
                    <p-dropdown [options]="opcoessituacao" name="situacao" formControlName="situacao" [filter]="true" [style]="{'width':'100%'}" [autoDisplayFirst]="false"/>
                    <div *ngIf="form.controls['situacao']?.invalid && (form.controls['situacao']?.dirty || form.controls['situacao']?.touched)">
                        <small *ngIf="form.get('situacao')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="profissional">Profissional:</label>
                    <input type="text" pInputText name="profissional" formControlName="profissional" />
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="medicamento">Medicamento:</label>
                    <input type="text" pInputText name="medicamento" formControlName="medicamento" />
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="residente">Residente:</label>
                    <input type="text" pInputText name="residente" formControlName="residente" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 pt-0">
        <div class="card-footer col-12 flex align-items-center justify-content-between">
            <p-button (click)="voltar()" pTooltip="Voltar" tooltipPosition="top" icon="pi pi-arrow-left"
                [style]="{'float': 'left'}" aria-label="Voltar"
                [rounded]="true" [text]="true" severity="info" size="large"></p-button>
            <div class="flex flex-row justify-content-end gap-2">
                <p-button [outlined]="true" size="small" (click)="salvar()" aria-label="Salvar"><span class="px-2 text-base">Salvar</span></p-button>
                <p-button [outlined]="true" size="small" severity="secondary" (click)="limpar()" aria-label="Limpar"><span class="px-2 text-base">Limpar</span></p-button>
            </div>
        </div>
    </div>
</div>