<div>
    <p-button (click)="novo()" icon="pi pi-plus"></p-button>
    <p-table [value]="items" [columns]="cols">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col }}
                </th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>                
                <td *ngFor="let detail of item | keyvalue">{{detail.value}}
                </td>
                <td class="flex gap-1">
                    <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-outlined p-button-secondary" (click)="edit(item.id)"></p-button>
                    <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-outlined p-button-danger" (click)="delete(item.id)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>