<div class="flex flex-column align-items-center">
    <p-card header="Erro 404" [style]="{'margin-top': '30vh' }" class="col-10 xl:col-3 lg:col-4 md:col-6 sm:col-10">
    <span>
        Não conseguimos encontrar a página.
    </span>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center">
            <p-button label="Voltar ao início" (click)="voltar()" icon="pi pi-sign-in" aria-label="Voltar ao início"></p-button>
        </div>
    </ng-template>
    </p-card>
</div>