<div class="flex justify-content-center">
    <p-card header="Login" [style]="{'margin-top': '30vh' }" class="col-10 xl:col-3 lg:col-4 md:col-6 sm:col-10">
        <form>
            <form [formGroup]="form" class="flex flex-column">
                <div class="col-12 flex flex-column">
                    <label htmlFor="login">Login:</label>
                    <input type="text" pInputText name="login" formControlName="login" />
                    <div *ngIf="form.controls['login']?.invalid && (form.controls['login']?.dirty || form.controls['login']?.touched)">
                        <small *ngIf="form.get('login')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('login')?.errors?.['maxlength']" class="p-error">Tamanho máximo 50 caracteres.</small>
                    </div>
                </div>
                <div class="col-12 flex flex-column">
                    <label htmlFor="senha">Senha:</label>
                    <input type="text" pInputText name="senha" formControlName="senha" />
                    <div *ngIf="form.controls['senha']?.invalid && (form.controls['senha']?.dirty || form.controls['senha']?.touched)">
                        <small *ngIf="form.get('senha')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('senha')?.errors?.['minlength']" class="p-error">Tamanho mínimo 6 caracteres.</small>
                    </div>
                </div>
              </form>
        </form>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-end">
                <p-button label="Login" (click)="login()" icon="pi pi-sign-in" aria-label="Login"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>