<div>
    <p-button (click)="novo()" icon="pi pi-plus" pTooltip="Novo" tooltipPosition="bottom" icon="pi pi-plus" styleClass="p-button-rounded p-button-info p-button-text p-button-lg"></p-button>
    <p-table [value]="items" (sortFunction)="customSort($event)" [customSort]="true" [lazy]="true" (onLazyLoad)="customSort($event)">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:20%">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="qtde" style="width:20%">Quantidade<p-sortIcon field="qtde"></p-sortIcon></th>
                <th pSortableColumn="tipo" style="width:20%">Tipo<p-sortIcon field="tipo"></p-sortIcon></th>
                <th pSortableColumn="medicamento.nome" style="width:30%">Medicamento<p-sortIcon field="medicamento.nome"></p-sortIcon></th>
                <th style="width:10%">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>                
                <td>{{item.id}}</td>
                <td>{{item.qtde}}</td>
                <td>{{item.tipo | Enum:tipos}}</td>
                <td>{{item.medicamento.nome}}</td>
                <td>
                    <div class="flex gap-1">
                        <p-button class="tablebutton" icon="pi pi-pencil" styleClass="p-button-rounded p-button-outlined p-button-secondary" (click)="edit(item.id)"></p-button>
                        <p-button class="tablebutton" icon="pi pi-trash" styleClass="p-button-rounded p-button-outlined p-button-danger" (click)="delete(item.id)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="total" [rowsPerPageOptions]="[10, 20]"></p-paginator>
</div>