<div class="col-12 flex flex-column align-items-center">
    <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 pb-0">
        <div class="card-title">
            <span class="font-bold text-2xl" style="color: var(--primary-color);">Cadastro de Usuário</span>
        </div>
        <form [formGroup]="form" (submit)="salvar()" class="flex flex-column card-body">
            <div class="flex flex-row flex-wrap">
                <div class="col-12 flex flex-column">
                    <label htmlFor="login">Login: <span class="text-red-500">*</span></label>
                    <input type="text" pInputText name="login" formControlName="login" />
                    <div *ngIf="form.controls['login']?.invalid && (form.controls['login']?.dirty || form.controls['login']?.touched)">
                        <small *ngIf="form.get('login')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('login')?.errors?.['maxlength']" class="p-error">Tamanho máximo 50 caracteres.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="senha">Senha: <span class="text-red-500">*</span></label>
                    <input type="password" pInputText name="senha" formControlName="senha" />
                    <div *ngIf="form.controls['senha']?.invalid && (form.controls['senha']?.dirty || form.controls['senha']?.touched)">
                        <small *ngIf="form.get('senha')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                        <small *ngIf="form.get('senha')?.errors?.['minlength']" class="p-error">Tamanho mínimo 6 caracteres.</small>
                    </div>
                </div>
                <div class="col-12 xl:col-4 lg:col-4 md:col-4 sm:col-12 flex flex-column">
                    <label htmlFor="profissional">Profissional: <span class="text-red-500">*</span></label>
                    <p-dropdown [options]="opcoesProfissional" name="profissional" formControlName="profissional" [filter]="true" [style]="{'width':'100%'}"/>
                    <div *ngIf="form.controls['profissional']?.invalid && (form.controls['profissional']?.dirty || form.controls['profissional']?.touched)">
                        <small *ngIf="form.get('profissional')?.errors?.['required']" class="p-error">Este campo é obrigatório.</small>
                    </div>
                </div>                
            </div>
        </form>
    </div>
    <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 pt-0">
        <div class="card-footer col-12 flex align-items-center justify-content-between">
            <p-button (click)="voltar()" pTooltip="Voltar" tooltipPosition="top" icon="pi pi-arrow-left"
                [style]="{'float': 'left'}" aria-label="Voltar"
                [rounded]="true" [text]="true" severity="info" size="large"></p-button>
            <div class="flex flex-row justify-content-end gap-2">
                <p-button [outlined]="true" size="small" (click)="salvar()" aria-label="Salvar"><span class="px-2 text-base">Salvar</span></p-button>
                <p-button [outlined]="true" size="small" severity="secondary" (click)="limpar()" aria-label="Limpar"><span class="px-2 text-base">Limpar</span></p-button>
            </div>
        </div>
    </div>
</div>