<div class="col-12 flex flex-column align-items-center">
    <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10">
      <p>Cadastro de Medicamento</p>
      <form [formGroup]="form" (submit)="salvar()" class="flex flex-column">
        <div class="flex flex-row flex-wrap">
          <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 flex flex-column">
            <label htmlFor="nome">Nome:</label>
            <input type="text" pInputText name="nome" formControlName="nome" />
          </div>
          <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 flex flex-column">
            <label htmlFor="principioAtivo">Princípio Ativo:</label>
            <input type="text" pInputText name="principioAtivo" formControlName="principioAtivo" />
          </div>
          <div class="col-12 xl:col-10 lg:col-10 md:col-10 sm:col-10 flex flex-column">
            <label htmlFor="qtde">Quantidade:</label>
            <input type="text" pInputText pKeyFilter="int" name="qtde" formControlName="qtde" />
          </div>          
        </div>
        <br>
        <div class="flex flex-row justify-content-end gap-2">
          <button pButton class="p-button p-button-primary" type="submit">Salvar</button>
          <button pButton class="p-button p-button-secondary">Limpar</button>
        </div>
      </form>
    </div>
    <div class="col-12  xl:col-10 lg:col-10 md:col-10 sm:col-10 flex align-items-start">
      <p-button (click)="voltar()" pTooltip="Voltar" tooltipPosition="top" icon="pi pi-arrow-left"
        [style]="{'float': 'left'}" styleClass="p-button-rounded p-button-info p-button-text p-button-lg"></p-button>
    </div>
  </div>