<div>
    <p-button (click)="novo()" icon="pi pi-plus" pTooltip="Novo" tooltipPosition="bottom" icon="pi pi-plus" [rounded]="true" [text]="true" severity="info" size="large" aria-label="Novo"></p-button>
    <p-table [value]="items" (sortFunction)="customSort($event)" [customSort]="true" [lazy]="true" (onLazyLoad)="customSort($event)">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" style="width:10%">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nome" style="width:40%">Nome<p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="cpf" style="width:20%">CPF<p-sortIcon field="cpf"></p-sortIcon></th>
                <th pSortableColumn="tipoEstadia" style="width:10%">Estadia<p-sortIcon field="tipoEstadia"></p-sortIcon></th>
                <th pSortableColumn="situacao" style="width:10%">Situação<p-sortIcon field="situacao"></p-sortIcon></th>
                <th style="width:10%">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>                
                <td>{{item.id}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.cpf | CPF}}</td>
                <td>{{item.tipoEstadia | Enum:tiposEstadia}}</td>
                <td>{{item.situacao | Enum:situacoes}}</td>
                <td>
                    <div class="flex gap-1">
                        <p-button class="tablebutton" icon="pi pi-pencil" [rounded]="true" [outlined]="true" severity="secondary" (click)="edit(item.id)" aria-label="Editar"></p-button>
                        <p-button class="tablebutton" icon="pi pi-trash" [rounded]="true" [outlined]="true" severity="danger" (click)="delete(item.id)" aria-label="Deletar"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">Nenhum item cadastrado.</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="total" [rowsPerPageOptions]="[10, 20]"></p-paginator>
</div>
<p-blockUI [blocked]="carregando">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<p-confirmDialog></p-confirmDialog>